.random-planet {
  display: flex;
  padding: 20px;
  position: relative;

  &__image {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin-right: 20px;
  }

  & .list-group {
    margin: 20px 0 0 20px;

    &-item {
      padding: 5px;

      & .term {
        margin-right: 10px;
      }
    }
  }

  &__info {
    width: 40%;
  }
}

.fake-error {
  position: absolute;
  right: 0;
  height: 70px;
  margin-right: 20px;
}
