@keyframes double-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.double-spinner div {
  box-sizing: border-box !important;
}
.double-spinner > div {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 22.5px;
  left: 22.5px;
  border-radius: 50%;
  border: 3px solid #000;
  border-color: var(--gray) transparent var(--gray) transparent;
  animation: double-spinner 1.333333333333333s linear infinite;
}

.double-spinner > div:nth-child(2),
.double-spinner > div:nth-child(4) {
  width: 47px;
  height: 47px;
  top: 26.5px;
  left: 26.5px;
  animation: double-spinner 1.333333333333333s linear infinite reverse;
}
.double-spinner > div:nth-child(2) {
  border-color: transparent var(--teal) transparent var(--teal);
}
.double-spinner > div:nth-child(3) {
  border-color: transparent;
}
.double-spinner > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.double-spinner > div:nth-child(3) div:before,
.double-spinner > div:nth-child(3) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  top: -3px;
  left: 23px;
  background: var(--gray);
  border-radius: 50%;
  box-shadow: 0 52px 0 0 var(--gray);
}
.double-spinner > div:nth-child(3) div:after {
  left: -3px;
  top: 23px;
  box-shadow: 52px 0 0 0 var(--gray);
}

.double-spinner > div:nth-child(4) {
  border-color: transparent;
}
.double-spinner > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.double-spinner > div:nth-child(4) div:before,
.double-spinner > div:nth-child(4) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  top: -3px;
  left: 19px;
  background: var(--teal);
  border-radius: 50%;
  box-shadow: 0 44px 0 0 var(--teal);
}
.double-spinner > div:nth-child(4) div:after {
  left: -3px;
  top: 19px;
  box-shadow: 44px 0 0 0 var(--teal);
}
.spinner {
  width: 88px;
  height: 88px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
  margin: 0 auto;
}
.double-spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.88);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.double-spinner div {
  box-sizing: content-box;
}
