.item-details {
  padding: 20px;
  width: 100%;
  text-align: center;

  &__image {
    width: 50%;
    border-radius: 10px;
    object-fit: contain;
    margin: 0 auto;
  }

  & .list-group-item {
    padding: 5px;

    & .term {
      margin-right: 10px;
    }
  }

  &__select {
    margin: 0 auto;
    font-size: 30px;
    color: coral;
    padding-top: 3rem;
  }
}
