.person-details {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  padding: 20px;

  &__image {
    width: 30%;
    height: 30%;
    border-radius: 10px;
  }

  & .list-group-item {
    padding: 5px;

    & .term {
      margin-right: 10px;
    }
  }
}
